body {
    background-color: #FEDA3A;
    background-image: url(Minimalistic\ Goku\ Riding\ Nimbus\ Cloud\ In\ The\ Sunset\ _\ Anime\ Shelter\ Shop.jpg);
    background-size: cover;
    margin: auto;
    max-width: 65%;
    padding: 50px;
    padding-left: 0;
    padding-right: 0;


}

li {
    display: inline-block;
    padding: 1rem;
}

body {
    text-align: center
}

img {
    display: inline;

}

#mainlogo {
    position: relative;
    right: 3rem;
}

#akirapicture {
    position: relative;
    right: 5%;
    margin: 0;
    padding: 0;
    right: 2rem;
}

#akiratext {
    display: inline-block;
    position: relative;
    bottom: 3rem;

}

#description {
    display: inline-block;
    position: relative;
    bottom: 15rem;
    left: 5rem;
}

#logo {
    position: relative;
    right: 10rem;
}

#toyiramades {
    text-align: left;
}
.dropbtn {
    background-color: #feda3b;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    width: 15rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-image: url();
    background-size: cover;
    min-width: 860px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 40px 50px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f7cd12;}